.suggestion-active {
  background-color: #f1f1f1;
}
ul.suggestions {
  padding: 0px;
}
.suggestions > li {
  list-style: none;
  display: block;
  text-align: left;
  line-height: 2;
  font-size: 20px;
  padding-left: 5px;
}

.App {
  width: 30%;
  min-width: 456px;
  margin: auto;
  margin-top: 50px;
}
.App input {
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  height: 200%;
  line-height: 3;
  background: #f1f1f1;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px 10px 0px 0px;
  color: #111111;
  font-size: 20px;
  padding-left: 5px;
}
